@charset "UTF-8";
/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

/*chips*/
@import 'chip.css';
/*-- Common Style --*/

@font-face {
  font-family: 'Zilap Africa';
  src: url('../fonts/Zilap.ttf') format('truetype');
}

:root {
  --primary-color: #ffbc01;
  --secondary-color: #000000;
  --accent-color: #e6fff1;
  --text-color: #fff;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
html,
body {
  height: 100%;
  font-family: 'Zilap Africa';
}

body {
  background-color: #f5f5f5;
  background-image: url('../images/background.jpg');
  background-size: cover;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  body {
  }
  .spirit-intro {
    font-size: 20vw !important;
    line-height: 12vh !important;
  }
  .spirit-intro span {
    font-size: 25vw !important;
  }
}
@media only screen and (max-width: 575px) {
  body {
  }
}
@media only screen and (max-width: 479px) {
  body {
  }
  .hero-section {
    margin-top: 20px !important;
  }
  .email-contact-section {
    margin-top: 20px !important;
  }
  .home-slider {
    margin-top: 20px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 400;
  margin-top: 0;
  color: var(--primary-color);
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.navbar {
  background-color: transparent !important;
  color: var(--text-color) !important;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-text {
  color: var(--text-color) !important;
}

.pagebtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
.pagebtn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--accent-color);
}
.pagebtn-2 {
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--accent-color) !important;
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
.pagebtn-2:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.navbar-light .navbar-toggler {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color);
}
.hero-header {
  color: var(--primary-color);
  font-weight: bold;
  line-height: 70px;
  font-size: 4rem;
}
.spirits {
  padding-top: 7rem;
  padding-bottom: 8rem;
}
.spirit-intro {
  font-family: 'zilap africa';
  font-weight: 700;
  font-size: 7rem;
  color: var(--primary-color);
  line-height: 10rem;
}
.spirit-intro > span {
  font-size: 9rem;
}
.hero-section {
  margin-top: 50px;
}
.email-contact-section {
  margin-top: 100px;
}
.submit-email-form {
  width: 320px;
}
.submit-email-form > input {
  padding: 7px 14px;
  border-radius: 20px;
  width: 100%;
}

.home-slider {
  margin-top: 100px;
}
.home-buttom-icon {
  width: fit-content;
  color: var(--secondary-color);
  display: inline-block;
  margin-right: 15px;
}

.home-slider-item {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: #e6fff1;
}
.slider-section {
  margin-top: 50px;
}
.home-button {
  margin-top: 50px;
}
.nav-link:hover {
  border-bottom: var(--primary-color) 4px solid;
}
.nav-link.active {
  border-bottom: var(--primary-color) 4px solid;
}
.move-to-top {
  position: fixed;
  inset: auto 15px 15px auto;
  background-color: var(--primary-color);
  padding: 10px 18px;
  border-radius: 50%;
}

.sango {
  position: relative;
  z-index: 2;
}

.sango .back-text {
  position: absolute;
  inset: 17rem 23rem auto auto;
  z-index: -1;
  font-family: 'zilap africa';
  color: var(--primary-color);
  font-size: 13rem;
  font-weight: 800;
}
.sango .front-text {
  position: absolute;
  inset: auto auto 8rem 27rem;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
}

.sango-card {
  margin-right: 2rem;
  font-size: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  display: grid;
  place-items: center;
}
.sango-card h2 {
  font-weight: 800;
  font-size: x-large;
  color: #000000 !important;
}
.sango-card p {
  font-weight: 700;
  color: #000000 !important;
}
.roadmap-header {
  font-family: 'zilap africa';
  font-weight: 900;
  font-size: 3rem;
  color: var(--primary-color);
}
.roadmap-contents {
  color: var(--primary-color) !important;
  border-left: var(--primary-color) solid 5px;
  padding-left: 2.5rem;
  margin-bottom: 2.5rem;
}
.roadmap-contents > h3,
p {
  color: var(--primary-color);
}
.roadmap-contents > h3 {
  margin-top: 0;
  padding-top: 0;
}
.our-team > p {
  color: var(--primary-color);
}

.head-shot-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.caption caption {
  width: 100%;
}
.head-shot h5 {
  color: #6c757d;
}
